.skill-bar {
  display: flex;
  column-gap: #{$grid-gutter-width};
  align-items: center;
  margin-bottom: 1rem;

  @include media-breakpoint-down(md) {
    column-gap: #{$grid-gutter-width * 0.5};
  }

  &__label {
    width: 13rem;
    text-align: right;

    @include media-breakpoint-down(md) {
      width: 10rem;
      font-size: 1.8rem;
    }
  }

  &__bar {
    flex: 1;

    position: relative;
    height: 2.2rem;
    background-color: #{$color-background--accent};
  }

  &__bar-fill {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #{$color-primary};

    transition: width 1.5s;
  }

  &--pre {
    .skill-bar__bar-fill {
      width: 0% !important;
    }
  }
}
