// Colors
$color-primary: #e92963;
$color-primary--tint: lighten(#e92963, 10%);
$color-primary--shade: darken(#e92963, 10%);
$color-background: #fff;
$color-text: #000;
$color-text--contrast: #fff;

// Bootstrap Grid customization
$grid-gutter-width: 50px;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1342px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1306px,
);

// Misc
$heading-selectors: "h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6";
