html {
  background-color: #{$color-background};
  font-size: 10px;

  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --header-height: 12rem;
  --section-gap: 20rem;

  @include media-breakpoint-down(md) {
    --header-height: 10rem;
    --section-gap: 12rem;
  }
}
