body {
  font-size: 2.4rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65;
  color: #{$color-text};
}

#{$heading-selectors} {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 0;
}

h1,
.h1 {
  font-size: 5.9rem;

  color: #{$color-primary};
}

h2,
.h2 {
  font-size: 4.8rem;

  color: #{$color-primary};
}

h3,
.h3 {
  font-size: 3.6rem;
}

h4,
.h4 {
  font-size: 2.8rem;
}

h6,
.h6 {
  font-size: 1.8rem;
  text-transform: uppercase;
}

a {
  color: #{$color-primary};
  transition: color 0.25s;

  &:hover,
  &:focus {
    color: #{$color-primary--shade};
  }

  &.no-underline {
    text-decoration: none !important;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1.2rem;
}
